body {
  cursor: url(/assets/crosshair.png) 16 16, auto;
  background-color: rgb(30, 30, 30);
}

#canvas1 {
  border: 3px solid black;
  background: url("assets/background.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}
